* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Prompt', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, #ff5858, #faa0a0);
}

.container {
  border-radius: 0.5em;
  width: 400px;
  height: 550px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 80px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.container * {
  font-weight: 500;
  font-size: 1.3em;
  color: #ffffff;
  background: #ffffff0c;
  border: 0;
  backdrop-filter: blur(30px);
}

.container button:hover {
  background: rgba(255, 255, 255, 0.144);
}

.container button:active {
  background-color: #f9cf5a;
  color: #ff5858;
  font-weight: 700;
}

#display , #total{
  grid-column: 1/5;
  text-align: right;
  overflow-wrap: break-word;
  overflow-y: visible ;
  padding: 0.5em;
}

#total {
  font-size: 2rem;
}

#AC{
  grid-column: 1/3;
}

